BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
IndentCaseLabels: true
AlignEscapedNewlines: Left
SortIncludes: false
AlignArrayOfStructures: Left
AllowShortEnumsOnASingleLine: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossComments
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
